<div class="container-sm">
    <div class="text-center">
        {{#if matchesSessionUser}}
            <button type="button" class="btn mx-auto btn-outline-danger logout-button">Logout</button>
        {{/if}}
    </div>
    <h1 class="text-break">{{user.username}}'s Profile</h1>
    <h4>About</h4>
    {{#if matchesSessionUser}}
        <form class="bio-form">
            <div class="form-group">
                <label for="User Bio"></label>
                <textarea class="form-control" id="user-bio-text" rows="4"></textarea>
            </div>
                <button type="submit" class="btn btn-outline-info">Save</button>
        </form>
    {{else}}
        <p>{{user.bio}}</p>
    {{/if}}
    
    <h4>{{user.username}}'s Spots</h4>
    <div class="row justify-content-center">
        {{#each spots as |spot|}}
        <div class="col-sm-12 col-lg-6 my-2">
            <div class="card">
                <div class="card-header">
                    {{!-- TODO: Use maps.js to render this static Google Map --}}
                    Static Google Maps
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{spot.title}}</h5>
                    <p class="card-text">{{spot.description}}</p>
                    <a href="/spot/{{spot.id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src='/js/profile.js'></script>